<%= form_for(@experience) do |f| %>
  <% if @experience.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@experience.errors.count, "error") %> prohibited this experience from being saved:</h2>

      <ul>
      <% @experience.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= select("experience", "recipe", @recipes, {include_blank: true}, :class => "browser-default") %>
    <%= select("experience", "chef", @chefs, {include_blank: true}, :class => "browser-default") %>
    <input name="experience[starts_at]"type="date" class="datepicker">

    <%= f.submit "Book It"%>
  </div>
<% end %>
